{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <body class="text-center">
    <div class="container">
                <h1 class="h3 mb-3 font-weight-normal">
                    Welcome
                </h1>
            <div class="checkbox mb-3">
                {% if current_user.is_authenticated %}
                <h6>upload images</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('upload_file') }}">Upload</a>
                {% endif %}
                <p>
                    To get started you can directly goto 'Recognizer' option if you have uploaded your image.
                    <br>
                    <br>
                    If not first register yourself on the Register page.
                    <br>
                    <br>
                    Next, to upload your photo you need to login.
                    <br>
                    <br>
                    Once you are logged in you can upload your image(Only jpeg is accepted)
                    <br>
                    <br>
                    Now you can continue to 'Recognizer'
                    <br>
                    <br>
                    If you want to exit from there click on 'End'
                </p>

                
            </div>
            <h3>Thank you for visiting our page!</h3>
    </div>

</body>

{% endblock %}
